.weatherDataCont{
    background-color: blue;
    width: 400px;
    height: 100px;
    line-height: 100px;
}
.weatherExtraInfoCont{
    background-color: red;
    width: 40%;
    display: inline-block;
}
.weatherTemperatureCont{
    background-color: yellow;
    width: 60%;
    display: inline-block;
}