.weatherDataCont{
    background-color: rgb(13, 13, 236, 0.5);
    width: 400px;
    height: 100px;
    line-height: 140px;
    border-radius: 5px;
    margin-left: 30px;
}
.weatherExtraInfoCont{
    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}
.weatherTemperatureCont{
    width: 60%;
    display: inline-block;
}

.temperature{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: black;
}

.temperatureType{
    font-weight: bold;
    color: blueviolet;
}

.extraInfoText{
    display: block;
    color: aqua;
    font-size: 16px;
    font-weight: bold;
}
.wicon{
    color: brown;
}